# Caddyfile By vps-deploy
{v2rayHost} {
    @websockets {
		header Connection *Upgrade*
		header Upgrade    websocket
	}
	reverse_proxy @websockets localhost:{v2rayPort}
	
	root * /usr/share/caddy
	file_server
}

www.esunr.xyz,
esunr.xyz,
qinglong.esunr.xyz,
hass.esunr.xyz {
    reverse_proxy localhost:6680
}